In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [ ]:
# How many records are in the dataset
len(df)

9704

In [10]:
#How many fuel types are presented in the dataset
df['fuel_type'].nunique()

2

In [15]:
#How many columns in the dataset have missing values
#df.isnull().count
(df.isnull().sum() > 0).sum()

np.int64(4)

In [ ]:
#What's the maximum fuel efficiency of cars from Asia?
df[df['origin'] == "Asia"]['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [16]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [19]:
#Median value of horsepower
df['horsepower'].median()

np.float64(149.0)

In [21]:
#calculate the most frequent value of the same horsepower column.
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [ ]:
#Use fillna method to fill the missin values in horsepower column with the most frequent value from the previous step
df['horsepower'].mode().fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [20]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64