In [272]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [273]:
url = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv"
df = pd.read_csv(url)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [274]:
# Standardize column names and categorical values from multiple cases to lowercase with underscores

df.columns = df.columns.str.lower().str.replace(' ', '_')


categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
for col in categorical_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [275]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [276]:
df.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [277]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [278]:
# totalcharges column should be numeric but displayed as object due to presence of spaces in some rows. 
# Convert it to numeric, setting errors='coerce' to convert invalid parsing to NaN
tc = pd.to_numeric(df['totalcharges'],errors='coerce')
tc

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: totalcharges, Length: 7043, dtype: float64

In [279]:
# now we have 111 rows as NaN values in 'tc' for rows where conversion failed
df[tc.isnull()][['customerid', 'totalcharges']]

      customerid totalcharges
488   4472-lvygi            _
753   3115-czmzd            _
936   5709-lvoeq            _
1082  4367-nuyao            _
1340  1371-dwpaz            _
3331  7644-omvmy            _
3826  3213-vvolg            _
4380  2520-sgtta            _
5218  2923-arzlg            _
6670  4075-wkniu            _
6754  2775-sefee            _

In [280]:
# 
df['totalcharges'] = pd.to_numeric(df['totalcharges'],errors='coerce')

In [281]:
# Fill NaN values in totalcharges with 0
df.totalcharges = df['totalcharges'].fillna(0)
df.totalcharges.isnull().sum()

np.int64(0)

In [282]:
# Check the target variable 'churn'.  it has values 'yes' and 'no' instead of 1 and 0
df.churn.head()

0     no
1     no
2    yes
3     no
4    yes
Name: churn, dtype: object

In [283]:
 # replacing the values with 1 and 0
df.churn = (df.churn == 'yes').astype(int)
df.churn.head()

0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: int64

### Setting up validation framework
perform train, val, and test spit with scikit-learn

In [284]:
from sklearn.model_selection import train_test_split

In [285]:
# split the data into train and test sets and set random_state for reproducibility
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)

len(df_full_train), len(df_test)

(5634, 1409)

In [286]:
# further split the full_train into train and val sets
# although, we are still doing same spliting formart but using different approach from the previous module
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [287]:
df_train

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
3897,8015-ihcgw,female,0,yes,yes,72,yes,yes,fiber_optic,yes,...,yes,yes,yes,yes,two_year,yes,electronic_check,115.50,8425.15,0
1980,1960-uycnn,male,0,no,no,10,yes,yes,fiber_optic,no,...,yes,no,no,yes,month-to-month,yes,electronic_check,95.25,1021.55,0
6302,9250-wypll,female,0,no,no,5,yes,yes,fiber_optic,no,...,no,no,no,no,month-to-month,no,electronic_check,75.55,413.65,1
727,6786-obwqr,female,0,yes,yes,5,yes,no,fiber_optic,no,...,no,no,yes,no,month-to-month,yes,electronic_check,80.85,356.10,0
5104,1328-euzhc,female,0,yes,no,18,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,20.10,370.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3774,1309-xgfsn,male,1,yes,yes,52,yes,yes,dsl,no,...,yes,no,yes,yes,one_year,yes,electronic_check,80.85,4079.55,0
6108,4819-hjpiw,male,0,no,no,18,no,no_phone_service,dsl,no,...,no,no,no,no,month-to-month,no,mailed_check,25.15,476.80,0
1530,3703-vavcl,male,0,yes,yes,2,yes,no,fiber_optic,no,...,yes,yes,no,yes,month-to-month,no,credit_card_(automatic),90.00,190.05,1
3701,3812-lrzir,female,0,yes,yes,27,yes,yes,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,electronic_check,24.50,761.95,0
4368,1704-nrwye,female,1,no,no,9,yes,no,fiber_optic,no,...,no,no,yes,no,month-to-month,yes,electronic_check,80.85,751.65,1

In [288]:
# reset indexes. though does not affect our model. it is a good practice to reset indexes after splitting
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [289]:
df_train

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,8015-ihcgw,female,0,yes,yes,72,yes,yes,fiber_optic,yes,...,yes,yes,yes,yes,two_year,yes,electronic_check,115.50,8425.15,0
1,1960-uycnn,male,0,no,no,10,yes,yes,fiber_optic,no,...,yes,no,no,yes,month-to-month,yes,electronic_check,95.25,1021.55,0
2,9250-wypll,female,0,no,no,5,yes,yes,fiber_optic,no,...,no,no,no,no,month-to-month,no,electronic_check,75.55,413.65,1
3,6786-obwqr,female,0,yes,yes,5,yes,no,fiber_optic,no,...,no,no,yes,no,month-to-month,yes,electronic_check,80.85,356.10,0
4,1328-euzhc,female,0,yes,no,18,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,20.10,370.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4220,1309-xgfsn,male,1,yes,yes,52,yes,yes,dsl,no,...,yes,no,yes,yes,one_year,yes,electronic_check,80.85,4079.55,0
4221,4819-hjpiw,male,0,no,no,18,no,no_phone_service,dsl,no,...,no,no,no,no,month-to-month,no,mailed_check,25.15,476.80,0
4222,3703-vavcl,male,0,yes,yes,2,yes,no,fiber_optic,no,...,yes,yes,no,yes,month-to-month,no,credit_card_(automatic),90.00,190.05,1
4223,3812-lrzir,female,0,yes,yes,27,yes,yes,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,electronic_check,24.50,761.95,0
4224,1704-nrwye,female,1,no,no,9,yes,no,fiber_optic,no,...,no,no,yes,no,month-to-month,yes,electronic_check,80.85,751.65,1

In [290]:
# create and separate the target values for train, val, and test sets
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values
y_train

array([0, 0, 1, ..., 1, 0, 1], shape=(4225,))

In [291]:
# remove the target column from the dataframes. 
# We will train the model using the remaining columns 
# and the model will not see the target column and get a hint of answer
del df_train['churn']
del df_val['churn']
del df_test['churn']

### EDA
- Checking missing values
- Looking at the target varriable(churn)
- Looking at categorical and numerical varriales

In [292]:
df_full_train = df_full_train.reset_index(drop=True)

In [293]:
df_full_train.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [294]:
# checking the distribution of the target variable
df_full_train.churn.value_counts()

churn
0    4113
1    1521
Name: count, dtype: int64

In [295]:
# checking the proportion of churn and not churn in the target variable
df_full_train.churn.value_counts(normalize=True)

churn
0    0.730032
1    0.269968
Name: proportion, dtype: float64

In [296]:
# calculating the global churn rate (27%)
global_churn_rate = df_full_train.churn.mean()
global_churn_rate = round(global_churn_rate, 2)
global_churn_rate

np.float64(0.27)

In [297]:
# separating categorical and numerical columns from full_train dataframe
df_full_train.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [298]:
# separating numerical columns from full_train dataframe
numerical = ['tenure', 'monthlycharges', 'totalcharges']
numerical

['tenure', 'monthlycharges', 'totalcharges']

In [299]:
df_full_train.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [300]:
# selecting categorical columns
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents',
       'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']
categorical

['gender',
 'seniorcitizen',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod']

In [301]:
df_full_train[categorical]

,gender,seniorcitizen,partner,dependents,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod
0,male,0,yes,yes,yes,no,no,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check
1,female,0,no,no,yes,no,dsl,yes,yes,yes,yes,no,yes,one_year,no,credit_card_(automatic)
2,male,0,yes,no,yes,yes,dsl,yes,yes,no,yes,no,no,two_year,no,bank_transfer_(automatic)
3,male,0,yes,yes,yes,yes,dsl,yes,no,yes,yes,yes,yes,one_year,no,electronic_check
4,male,0,no,no,yes,no,dsl,yes,yes,no,yes,yes,no,one_year,no,electronic_check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,male,1,no,no,yes,yes,fiber_optic,no,no,yes,no,yes,yes,month-to-month,yes,electronic_check
5630,male,0,no,yes,yes,no,no,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check
5631,male,0,no,no,yes,yes,fiber_optic,no,yes,yes,no,yes,yes,month-to-month,yes,electronic_check
5632,male,0,no,no,yes,yes,dsl,no,yes,no,no,no,no,month-to-month,yes,mailed_check
5633,female,0,yes,yes,yes,no,dsl,yes,yes,no,yes,no,yes,two_year,no,bank_transfer_(automatic)

In [302]:
# checking the number of unique values in each categorical column for the purpose of one-hot encoding
df_full_train[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

### Feature Importance  
- Churn Rate
- Risk Ratio
- Mutual Information (later)

In [303]:
global_churn_rate

np.float64(0.27)

In [304]:
male_churn_rate = df_full_train[df_full_train['gender'] == 'male'].churn.mean()
male_churn_rate

np.float64(0.2632135306553911)

### Feature Importance: 
     difference
- Feature importance based on difference between global churn rate and group churn rate.
- when value is positive, it means the group is less likely to churn.
- when value is negative, it means the group is more likely to churn.

In [305]:
global_churn_rate - male_churn_rate

np.float64(0.006786469344608914)

In [306]:
female_churn_rate = df_full_train[df_full_train['gender'] == 'female'].churn.mean()
female_churn_rate

np.float64(0.27682403433476394)

In [307]:
global_churn_rate - female_churn_rate

np.float64(-0.006824034334763918)

In [308]:
partner_churn_rate = df_full_train[df_full_train.partner == 'yes'].churn.mean()
partner_churn_rate = round(partner_churn_rate, 2)
partner_churn_rate

np.float64(0.21)

In [309]:
global_churn_rate - partner_churn_rate

np.float64(0.060000000000000026)

In [310]:
no_partner_churn_rate = df_full_train[df_full_train['partner'] == 'no'].churn.mean()
no_partner_churn_rate = round(no_partner_churn_rate, 2)
no_partner_churn_rate

np.float64(0.33)

In [311]:
global_churn_rate - no_partner_churn_rate

np.float64(-0.06)

In [312]:
df_full_train.partner.value_counts()

partner
no     2932
yes    2702
Name: count, dtype: int64

### Feature Importance: 
    Risk Ratio
- Risk ratio between global churn rate and group churn rate.
- when value is greater than 1, it means the group is less likely to churn.
- when value is less than 1, it means the group is more likely to churn.

In [313]:
male_churn_rate/global_churn_rate

np.float64(0.9748649283533003)

In [314]:
female_churn_rate/global_churn_rate

np.float64(1.0252742012398663)

In [315]:
# (0.7777777777777777) 23% lower than average churn rate
partner_churn_rate/global_churn_rate

np.float64(0.7777777777777777)

In [316]:
# (1.222222222222222) 22% higher than average churn rate
no_partner_churn_rate/global_churn_rate

np.float64(1.222222222222222)

In [317]:
df_full_train.groupby('gender').churn.mean()

gender
female    0.276824
male      0.263214
Name: churn, dtype: float64

In [318]:
df_full_train.groupby('gender').churn.agg(['mean', 'count'])

            mean  count
gender
female  0.276824   2796
male    0.263214   2838

In [319]:
df_group = df_full_train.groupby('gender').churn.agg(['mean', 'count'])
df_group['diff'] = df_group['mean'] - global_churn_rate
df_group['risk'] = df_group['mean'] / global_churn_rate
df_group

            mean  count      diff      risk
gender
female  0.276824   2796  0.006824  1.025274
male    0.263214   2838 -0.006786  0.974865

In [320]:
from IPython.display import display

In [321]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_churn_rate
    df_group['risk'] = df_group['mean'] / global_churn_rate
    display(df_group)
    #print()

gender

            mean  count      diff      risk
gender
female  0.276824   2796  0.006824  1.025274
male    0.263214   2838 -0.006786  0.974865

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027730  0.897297
1              0.413377    912  0.143377  1.531027

partner

             mean  count      diff      risk
partner
no       0.329809   2932  0.059809  1.221515
yes      0.205033   2702 -0.064967  0.759383

dependents

                mean  count      diff      risk
dependents
no          0.313760   3968  0.043760  1.162074
yes         0.165666   1666 -0.104334  0.613579

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028684  0.893764
yes           0.273049   5087  0.003049  1.011292

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012593  0.953361
no_phone_service  0.241316    547 -0.028684  0.893764
yes               0.290742   2387  0.020742  1.076820

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077653  0.712398
fiber_optic      0.425171   2479  0.155171  1.574709
no               0.077805   1221 -0.192195  0.288167

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150921  1.558967
no_internet_service  0.077805   1221 -0.192195  0.288167
yes                  0.153226   1612 -0.116774  0.567503

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134323  1.497494
no_internet_service  0.077805   1221 -0.192195  0.288167
yes                  0.217232   1915 -0.052768  0.804564

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125875  1.466205
no_internet_service  0.077805   1221 -0.192195  0.288167
yes                  0.230412   1940 -0.039588  0.853379

techsupport

                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148914  1.551534
no_internet_service  0.077805   1221 -0.192195  0.288167
yes                  0.159926   1632 -0.110074  0.592320

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072832  1.269747
no_internet_service  0.077805   1221 -0.192195  0.288167
yes                  0.302723   2167  0.032723  1.121195

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068906  1.255209
no_internet_service  0.077805   1221 -0.192195  0.288167
yes                  0.307273   2200  0.037273  1.138047

contract

                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161701  1.598893
one_year        0.120573   1186 -0.149427  0.446568
two_year        0.028274   1344 -0.241726  0.104718

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097929  0.637300
yes               0.338151   3321  0.068151  1.252412

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101829  0.622854
credit_card_(automatic)    0.164339   1217 -0.105661  0.608661
electronic_check           0.455890   1893  0.185890  1.688482
mailed_check               0.193870   1305 -0.076130  0.718036

### Feature importance: Mutual information
- Mutual information - concept from information theory, it tells us how much we can learn about one variable if we know the value of another

- https://en.wikipedia.org/wiki/Mutual_information

In [322]:
from sklearn.metrics import mutual_info_score

In [323]:
mutual_info_score(df_full_train.churn, df_full_train.contract)

0.0983203874041556

In [324]:
mutual_info_score(df_full_train.contract, df_full_train.churn)

0.0983203874041556

In [325]:
mutual_info_score(df_full_train.churn, df_full_train.gender)

0.0001174846211139946

In [326]:
mutual_info_score(df_full_train.partner, df_full_train.churn)

0.009967689095399745

- From the outputs, we can see that contract has the highest mutual information score with churn variable
- Followed by partner which has more important information to share about churning than gender
- gender does not tell us much about churn compared to the other two variables

In [331]:
# Measure how much each categorical feature tells us about customer churn
# Features are ranked by their predictive power (mutual information score)

def mutual_info_churn_score(series):
    return mutual_info_score(series, df_full_train.churn)

mi = df_full_train[categorical].apply(mutual_info_churn_score)
mi.sort_values(ascending=False)

contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64